/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

a {
    color: inherit;
}
/* COMMON */

.container {
    width: 75%;
    margin: 0 auto;
    
}

ul {
    list-style: none;
}


/* HEADER */

header {
    background-color: lightblue;
    padding-bottom: 1rem;
}

.flex-header {
    display: flex;
    padding: 1rem 0;
}

/* Logo */

.logo {
    padding: 0.5rem;
    width: 20%;
    background-color: orange;
    border: 1px dashed black;
}

/* Navbar */

.navbar {
    padding: 0.5rem;
    width: 60%;
    background-color: orange;
    border: 1px dashed black;
}


.flex-nav {
    display: flex;
    justify-content: center;
    gap: 1rem;
}


/* Login */

.login {
    padding: 0.5rem;
    width: 20%;
    background-color: orange;
    border: 1px dashed black;
    text-align: right;
}

/* First section */

.section-1 {
    
    background-color: blue;
    padding: 2rem 0;
}

.content-1 {
    width: 60%;
    min-height: 150px;
    background-color: pink;
    margin: 0 auto;
    border: 1px dashed black;
}

/* MAIN */

/* Content Section */

.flex-content {
    display: flex;
    padding: 2rem 0;
}

.blu-content {
    width: 60%;
    min-height: 150px;
    background-color: rgb(30 144 255);;
    border: 1px dashed black;
}

.pink-content {
    width: 40%;
    min-height: 150px;
    background-color: pink;
    border: 1px dashed black;
}

/* Gray Section */

.gray-section {
    background-color: rgb(211 211 211);
}

/* Fifth section */

.gray-section2 {
    background-color: rgb(211 211 211);
    padding: 2rem 0;
}

.green-content {
    margin: 0 auto;
    width: 75%;
    background-color: green;
    min-height: 400px;
    border: 1px dashed black;
}
